@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #aeadae #ffffff;
}

::-webkit-scrollbar {
    display: none !important;
    width: 16px;
}

::-webkit-scrollbar-track {
    display: none !important;
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    display: none !important;
    background-color: #aeadae;
    border-radius: 50px;
    border: 3px solid #ffffff;
}

:root {
    -ms-overflow-style: none;
    scrollbar-width: none;
}